body {
	background-color: #D8D1B1;
	position: relative;
	padding-bottom: 15px;
	min-height: 100vh;
}
.footer {
	background: #0d375380;
	clear: both;
	margin-top: 10px;
	position: absolute;
	width: 100%;
	bottom: 0;
}
.form-login {
	display: grid;
	width: 15em;
	margin: auto;
}

.form-register {
	display: grid;
	width: 15em;
	margin: auto;
}

.btn {
	cursor: pointer;
	border: none;
	margin-top: 1em;
	background-color: #555c75;
	border-radius: 10%;
	height: 2em;
}

.btn:hover {
	background-color: #82E0CF;
}				

.bienvenida {
	margin: auto;
	float: center;
}

.main {
	padding-top: 10rem;
}

h1{
	font-weight: 400;
	text-align: center;
	padding: 20px 0;
	font-size: 40px;

}

h2 {
	text-align: center;
}

h3 {
	text-align: center;
}

.linea {
	background: #550b51;
	height: 5px;
	width: 100%;
	display: block;
}
.contenedorTexto{
	width: 100%;
	background-color: #5787a3;
	display: block;
	border-radius: 2em;
	
}
.texto{
	font-family: monospace;
	font-size: 32px;
	padding: 3px;
}

.galeria {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	width: 95%;
	margin: auto;
	grid-gap: 10px;
	padding: 40px;
	overflow: hidden;
}

.imagenPrincipal{
	display: block;
	margin: auto;
	width: 50%;
}
.imagenSecundaria{
	display: block;
	margin: auto;
	width: 40%;
	padding-bottom: 25px;
	
}
.galeria>a {
	display: block;
	position: relative;
	overflow: hidden;
	box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.galeria img {
	width: 100%;
	vertical-align: top;
	height: 300px;
	object-fit: cover;
	transition: transform 0.5s;
}

.galeria a:hover img {
	filter: blur(1px);
	transform: rotate(10deg) scale(1.3);
}

.light-box {
	position: fixed;
	top: 0;
	left: 0;
	background: #8C888880;
	transition: transform .3s ease-in-out;
	width: 100%;
	height: 80vh;
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: scale(0);
}

.light-box:img {
	width: 75vw;
	max-height: 70vh;
}

.light-box:target {
	transform: scale(1);
}

.descripcion {
	position: absolute;
	margin-top: 500px;
	width: 800px;
	background: #8C888899;
}

.cerrar {
	display: block;
	position: absolute;
	top: 40px;
	right: 40px;
	color: #fff;
	text-decoration: none;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
}

.siguiente {
	display: block;
	color: #fff;
	height: 50px;
	width: 50px;
	line-height: 30px;
	text-decoration: none;
}

.titulo {
	text-decoration: rgb(211, 40, 111);
	font-size: 60px;
	font-family: 'Dancing Script', cursive;
	margin-bottom: 40px;
	color: rgb(0, 143, 57);
}

.show_btn {
	background: #fff;
	padding: 10px 20px;
	font-size: 20px;
	font-weight: 500;
	color: #70b578;
	cursor: pointer;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.show_btn {
	position: relative;
	bottom: 1000px;
	left: 100px;
}

.table td, .table tr, .table th{
	border: 2px solid black;
    border-collapse: collapse;
	
}

.alerta_error {
	background-color: rgb(189, 7, 7);
	padding: .5rem;
	text-align: center;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	margin: 1rem 0;
}

.alerta_exito {
	background-color: rgb(44, 238, 118);
	padding: .5rem;
	text-align: center;
	color: black;
	font-weight: bold;
	text-transform: uppercase;
	margin: 1rem 0;
}



.tabla_usuarios {
	margin-top: 1em;
	width: 100%;
	border-spacing: 0;
	border: 1px solid black;
}

.tabla_usuarios thead, th, tr, td {
	padding: 2em;
	border: 1px solid black;
}