body {
    background-color: #D8D1B1;
}

.form-login {
    display: grid;
    width: 15em;
    margin: auto;
}

.btn {
    cursor: pointer;
    border: none;
    margin-top: 1em;
    background-color: #82E0AA;
    border-radius: 10%;
    height: 2em;
}

.btn:hover {
    background-color: #82E0CF;
}



.main{
	padding-top: 10rem;
}

.section{
	background: #70b57880;
	margin-top: 10px;
	margin-left: 100px;
	width: 1100px;
	padding: 10px;
	float: center;
}

.footer{
	background: #70b57880;
	padding: 5px;
	clear: both;
	margin-top: 10px;
}

.container{
	width: 85%;
	max-width: 850;
	margin: 0 auto;
}

.header .container{
	width: 90%;
}

.header{
	background: #70b57880;
	color: white;

	position: fixed;
	left: 0;
	top: 0;
	right: 0;
}

.header a {
	color: white;
	text-decoration: none;
}

.logo-nav-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo{
	position: relative;
}

.navigation ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

.navigation > ul > li{
	position: relative;
	display: inline-block;
}

.navigation ul li a{
	display: block;
	padding: 0.5rem 1rem;
	transition: all 0.4s linear;
	border-radius: 5px;
}

.navigation ul li a:hover{
	background: #70b578;
}

.submenu{
	position: absolute;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

.navigation li:hover .submenu{
	visibility: visible;
	opacity: 1;
}

h1{
	font-weight: 400;
	text-align: center;
	padding: 20px 0;
	font-size: 40px;
}

h2{
	text-align: center;
}

h3{
	text-align: center;
}

.linea{
	background: #550b51;
	height: 5px;
	width: 100%;
	display: block;
}

.galeria{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	width: 95%;
	margin: auto;
	grid-gap: 10px;
	padding: 40px;
	overflow: hidden;
}

.galeria > a{
	display: block;
	position: relative;
	overflow: hidden;
	box-shadow: 0 0 6px rgba(0,0,0,.5);
}

.galeria img{
	width: 100%;
	vertical-align: top;
	height: 300px;
	object-fit: cover;
	transition: transform 0.5s;
}

.galeria a:hover img{
	filter: blur(1px);
	transform: rotate(10deg) scale(1.3);
}

.light-box{
	position: fixed;
	top: 0;
	left: 0;
	background: #70b57880;
	transition: transform .3s ease-in-out;
	width: 100%;
	height: 80vh;
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: scale(0);
}

.light-box:img{
	width: 75vw;
	max-height: 70vh;
}

.light-box:target{
	transform: scale(1);
}

.descripcion{
	position: absolute;
	margin-top: 500px;
	width: 600px;
	background: #ffffff;
}

.cerrar{
	display: block;
	position: absolute;
	top: 40px;
	right: 40px;
	color: #fff;
	text-decoration: none;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
}

.siguiente{
	display: block;
	color: #fff;
	height: 50px;
	width: 50px;
	line-height: 30px;
	text-decoration: none;
}

.titulo{
    text-decoration: rgb(211, 40, 111);
    font-size: 60px;
    font-family: 'Dancing Script', cursive;
    margin-bottom: 40px;
    color: rgb(0, 143, 57);
}

.show_btn{
	background: #fff;
	padding: 10px 20px;
	font-size: 20px;
	font-weight: 500;
	color: #70b578;
	cursor: pointer;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}

.show_btn{
	position: relative;
	bottom: 1000px;
	left: 100px;
}

.cont_login{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

input[type="checkbox"]{
	display: none;
}

.cont_login{
	display: none;
	background: #fff;
	width: 410px;
	padding: 30px;
	box-shadow: 0 0 8px rgba(0,0,0,0.3);
}

#show:checked ~ .cont_login{
	display: block;
}

.cont_login .close_btn{
	display: block;
	position: relative;
	bottom: 25px;
	left: 400px;
	color: #fff;
	text-decoration: none;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	cursor: pointer;
}

.cont_login .close_btn:hover{
	color: #70b578;

}

.cont_login .text{
	font-size: 35px;
	font-weight: 600;
	text-align: center;
}

.cont_login form{
	margin-top: -20px;
}

.cont_login form .data{
	height: 45px;
	width: 100%;
	margin: 40px 0;
}

form .data label{
	font-size: 18px;
}

form .data input{
	height: 100%;
	width: 100%;
	padding-left: 10px;
	font-size: 17px;
	border: 1px solid silver;
}

form .data input:focus{
	border-color: #70b578;
	border-bottom-width: 6px;
}

form .forgot_pass{
	margin-top: -8px;
}

form .forgot_pass a{
	color: #70b578;
	text-decoration: none;
}

form .forgot_pass a:hover{
	text-decoration: underline;
}

form .btn{
	margin: 30px 0;
	height: 45px;
	width: 100%;
	position: relative;
	overflow: hidden;
}

form .btn .inner{
	height: 100%;
	width: 300%;
	position: absolute;
	left: -100%;
	z-index: -1;
	background: -webkit-linear-gradient(right, #56d8e4, #70b578, #56d8e4, #70b578);
	transition: all 0.4s;
}

form .btn:hover .inner{
	left: 0;
}

form .btn button{
	height: 100%;
	width: 100%;
	background: none;
	border: none;
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
	cursor: pointer;
}

form .singup_link{
	text-align: center;
}

form .singup_link a{
	color: #70b578;
	text-decoration: none;
}

form .singup_link a:hover{
	text-decoration: underline;
}