.form-login {
    display: grid;
    width: 15em;
    margin: auto;
}

.btn {
    cursor: pointer;
    border: none;
    margin-top: 1em;
    background-color: #82E0AA;
    border-radius: 10%;
    height: 2em;
}

.btn:hover {
    background-color: #82E0CF;
}